// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment-form-with-title {
  box-shadow: 0 0 8px 2px lightgray;
  width: 480px;
}

.comment-form-title {
  margin: 10px;
  padding: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.comment-author-image {
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  width: 32px;
  height: 32px;
}

.response-body {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.comment-body {
  margin: 10px;
  padding: 10px;
  vertical-align: middle;
}

.comment-body::placeholder {
  vertical-align: middle;
}

.comment-submit-button {
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.comment-submit-button:hover {
  background-color: lightblue;
}
.comment-author-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.comment-box {
  box-shadow: 0 0 8px 2px lightgray;
  width: 480px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.comment-body {
  margin: 10px;
  padding: 10px;
}

.delete-comment-button-container {
  margin: 10px;
  padding: 10px;
}

.delete-comment-button {
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.delete-comment-button:hover {
  background-color: lightblue;
}