

.body-without-header {
    background-position: center;
    background-image: url('http://res.cloudinary.com/dbtdkqyeo/image/upload/c_scale,w_1505/v1500424657/pexels-photo-356043_t8uyz3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
}

.log-in-form {
    background-color: white;
    opacity: 0.6;
    border-radius: 25px;
    padding: 20px;
    width: 250px;
    min-height: 330px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.sign-up-form {
    background-color: white;
    opacity: 0.6;
    border-radius: 25px;
    padding: 20px;
    width: 250px;
    min-height: 330px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.username-input::placeholder {
    color: darkgray;
}

.password-input::placeholder {
    color: darkgray;
}

.username-input {
    border: 1px solid lightgray;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
.password-input {
    border: 1px solid lightgray;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.auth-button {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
}

.demo-button {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 3px;
}

.auth-button:hover {
    background-color: gray;
}

.form-title {
    font-size: 32px;
    font-weight: bold;
}

.web-description {
    font-size: 26px;
}

.demo-button:hover {
   background-color: gray;
}