

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.logo-text {
    font-family: 'Fresca', sans-serif;
    font-size: 32px;
    padding: 5px;
    margin: 5px;
}

.user-interface {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.auth-links {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.username {
    margin: 5px;
    padding: 5px;
    font-weight: 700;
    font-size: 24px;
}

.logout-button {
    margin: 5px;
    padding: 5px;
}

.login-link:hover {
    color: red;
}

.signup-link:hover {
    color: red;
}