

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo-img {
    min-width: 32px;
    min-height: 32px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}

.logo-text {
    font-family: 'Fresca', sans-serif;
    font-size: 32px;
    margin: 10px;
    padding: 10px;
}

.user-interface {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.auth-links {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.username {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.logout-button {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.logout-button:hover {
    font-weight: 700;
}

.login-link:hover {
    color: red;
}

.signup-link:hover {
    color: red;
}

.new-post-button:hover {
    font-weight: 700;
}