// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    flex: 1;
    border: 1px solid lightgray;
}

.post-image-holder {
    width: 40%;
    min-height: 200px;
}


.post-detail-holder {
    width: 50%;
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.post-show-imageholder {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}

.cover-image {
    width: 100%;
    max-height: 600px;
}

.post-show-content {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
}


.post-show-title {
    font-weight: 700;
    font-size: 34px;
}

.post-show-body {
    font-size: 20px;
}

.post-show-author-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.edit-button {
    margin-right: 5px;
    padding-right: 5px;
}

.delete-button {
    margin-left: 5px;
    padding-left: 5px;
}