.new-post-form {
    max-width: 1000px;
    padding-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
}

.edit-post-form {
    max-width: 1000px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
    margin-bottom: 50px;
}

.new-post-title-input {
    font-size: 34px;
}

.upload-button {
    border: 1px solid lightgray;
    border-radius: 25px;
    padding-right: 10px;
    padding-left: 10px;
    height: 39px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-button:hover {
    background-color: lightblue;
}


.new-post-title-input::placeholder {
    font-size: 34px;
}

textarea {
    resize: none;
}

.new-post-submit-button-container {
    display: flex;
    margin-right: 100px;
    justify-content: flex-end;
}

.new-post-submit-button{
    border: 1px lightgray solid;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

.edit-post-submit-button {
    border: 1px lightgray solid;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.new-post-submit-button:hover {
    background-color: lightblue;
}

.edit-post-submit-button:hover {
    background-color: lightblue;
}

.edit-post-title-holder {
    border-left: 1px solid lightgray;
    padding-left: 5px;
}

.edit-post-body-holder {
    padding-left: 5px;
    border-left: 1px lightgray solid;
}

.errors {
    color: red;
}