// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    min-width: 300px;
    max-width: 47%;
    border: 1px solid lightgray;
    box-shadow: 0 0 8px 2px lightgray;
}

.post-image-holder {
    height: 200px;
    width: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-author-image {
    border-radius: 25px;
}

.post-author-image-container {
    height: 32px;
    width: 32px;
}


.post-detail-holder {
    width: 50%;
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.post-title {
    font-size: 24px;
}

.post-show-imageholder {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
    
}

.post-item-image {
    height: auto;
    width: auto;
    max-height: 200px;

}

.cover-image {
    width: 100%;
    max-height: 400px;
    min-width: 400px;
}

.post-show-content {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 400px;
}


.post-show-title {
    font-weight: 700;
    font-size: 34px;
}

.post-show-body {
    font-size: 18px;
}

.post-show-author-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.edit-button {
    margin-right: 5px;
    padding-right: 5px;
}

.delete-button {
    margin-left: 5px;
    padding-left: 5px;
}

.comment-form {
    margin-left: 100px;
    margin-right: 100px;
}