.search-container {
  max-width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.search-bar {
  border-bottom: 2px solid lightgray;
  font-size: 34px;
}

.search-bar::placeholder {
  font-size: 34px;
}