// Place all the styles related to the api/topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.topic-navbar {
    height: 50px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 50px;
    margin-left: 50px;

}

.topic-navbar-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px lightgray solid;
    border-top: 1px lightgray solid;
    height: 100%;
    align-items: center;
}

.topic-item:hover {
    font-weight: 700;
}

.topic-section {
    margin-right: 50px;
    margin-left: 50px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}

.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    align-items: center;
}

.section-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.post-item-image {
    height: 100%;
    width: 100%;
}
