// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-container {
  margin-top: 50px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.user {
  display: flex;
  flex-direction: column;
}

.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}
.greeting {
  margin-top: 10px;
  font-size: 14px;
}

.user-info {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgray;
  .follows {
    span {
      font-size: 16px;
      padding: 10px;
    }
  }
}

.user-image {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 32px;
  font-weight: bold;
  margin-left: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-upload-button {
  font-size: 12px;
}

.profile-upload-button:hover {
  font-weight: 700;
}

.upload-profile-image {
  display: flex;
  flex-direction: column;
}

.confirm-update {
  color: green;
}

.decline-update {
  color: red;
}